<div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
  <h6 class="alert-heading">{{ title }}</h6>
  {{ content }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
