<!-- En tête -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">{{ brand }}</a>
</nav>

<router-outlet></router-outlet>

<div aria-live="polite" aria-atomic="true" style="position: absolute; min-height: 200px;">
  <!-- Position it -->
  <div style="position: fixed; bottom: 1em; right: 1em; width: 300px;">

    <ng-template notifications-host></ng-template>

  </div>
</div>

