<div class="pt-5 mt-4">
  <div class="text-center mb-5">
    <h1>Bienvenue sur votre annuaire Solea</h1>
    <p class="text-muted">
      Commencez dès à présent à communiquer avec vos collègues, rapidement et simplement.<br/>
      A tout de suite !
    </p>
  </div>

  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="mx-auto card px-3 py-3 mb-3" style="width: 20rem;">
    <div class="form-group">
      <label for="email">Identifiant Solea</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" formControlName="password" value="admin">
    </div>
    <!--<div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="keepAuth">
      <label class="form-check-label" for="keepAuth">Rester authentifié</label>
    </div>-->
    <button class="btn btn-success w-100 mt-4" type="submit">Se connecter</button>
  </form>

</div>
