
<div class="input-group pb-4">
  <input type="text" class="form-control" placeholder="Rechercher un contact" aria-label="Search" [(ngModel)]="searchKey">
  <div class="input-group-append">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <svg class="feather feather-filter sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="551"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
      Filtres <!-- ({{searchOptions|labelFilterPipe}}) -->
    </button>
    <div class="dropdown-menu" onclick="event.stopPropagation();">
      <div class="custom-control custom-checkbox ml-2">
        <input type="checkbox" class="custom-control-input" id="checkName" [(ngModel)]="searchOptions.onName">
        <label class="custom-control-label" for="checkName">Nom</label>
      </div>
      <div class="custom-control custom-checkbox ml-2">
        <input type="checkbox" class="custom-control-input" id="checkNickName" [(ngModel)]="searchOptions.onNickName">
        <label class="custom-control-label" for="checkNickName">Prénom</label>
      </div>
      <div class="custom-control custom-checkbox ml-2">
        <input type="checkbox" class="custom-control-input" id="checkFonction" [(ngModel)]="searchOptions.onFunction">
        <label class="custom-control-label" for="checkFonction">Fonction</label>
      </div>
      <div class="custom-control custom-checkbox ml-2">
        <input type="checkbox" class="custom-control-input" id="checkSite" [(ngModel)]="searchOptions.onCity">
        <label class="custom-control-label" for="checkSite">Site</label>
      </div>
      <div class="custom-control custom-checkbox ml-2">
        <input type="checkbox" class="custom-control-input" id="checkTel" [(ngModel)]="searchOptions.onPhone">
        <label class="custom-control-label" for="checkTel">Téléphone</label>
      </div>
      <div class="custom-control custom-checkbox ml-2">
        <input type="checkbox" class="custom-control-input" id="checkMail" [(ngModel)]="searchOptions.onMail">
        <label class="custom-control-label" for="checkMail">Mail</label>
      </div>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="switchSelectAll()">{{ selectLabel }}</a>
    </div>
  </div>
  <button id="openNewModalButton" [hidden]="true" data-toggle="modal" data-target="#addContactModal" *ngIf="user.isAdmin">Open Modal</button>
  <button type="button" class="btn btn-outline-success ml-2" (click)="onNewContactCalled()" *ngIf="user.isAdmin">
    <svg class="feather feather-user-plus sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
    Créer un contact
  </button>
</div>

<!-- Modal Ajout Utilisateur -->
<form class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="addContactModalLabel" aria-hidden="true" *ngIf="user.isAdmin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addContactModalLabel">Ajouter un nouveau collaborateur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="surname" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
              <input #surname="ngModel" class="form-control" id="surname" name="surname" [(ngModel)]="contactModel.surname" oninput="this.value = this.value.toUpperCase()" required>
              <div *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                <small class="text-danger" *ngIf="surname.errors.required">
                  Champ requis.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
              <input id="name" name="name" class="form-control" #name="ngModel" [(ngModel)]="contactModel.name" required>
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <small class="text-danger" *ngIf="name.errors.required">
                  Champ requis.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="job" class="col-sm-2 col-form-label">Fonction</label>
            <div class="col-sm-10">
              <input #job="ngModel" class="form-control" id="job" name="job" [(ngModel)]="contactModel.job" required>
              <div *ngIf="job.invalid && (job.dirty || job.touched)">
                <small class="text-danger" *ngIf="job.errors.required">
                  Champ requis.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label">Site</label>
            <div class="col-sm-10">
              <input #city="ngModel" class="form-control" id="city" name="city" [(ngModel)]="contactModel.city" required>
              <div *ngIf="city.invalid && (city.dirty || city.touched)">
                <small class="text-danger" *ngIf="city.errors.required">
                  Champ requis.
                </small>
              </div>
            </div>
          </div>

          <div class="form-group row" style="margin-left: 5.5em; width: 200px">
            <div class="input-group-append">
              <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 25.6em">
                <svg class="feather feather-users sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                Groupes
              </button>
              <div class="dropdown-menu" onclick="event.stopPropagation();" style="width: 25.6em">
                <div class="custom-control custom-checkbox ml-2" *ngFor="let group of contactModel.groups;">
                  <input type="checkbox" class="custom-control-input" id="{{ group.guid }}" [(ngModel)]="group.isMember" [ngModelOptions]="{standalone: true}">
                  <label class="custom-control-label" for="{{ group.guid }}">{{ group.gname }}</label>
                </div>
              </div>
            </div>
          </div>

          <hr/>

          <div class="row" style="margin-left: 5em;">
              <input [(ngModel)]="contactModel.isAdmin" name="isAdmin" type="checkbox" style="margin-top: 0.2em;" class="mx-2">
              <label>Utilisateur Administrateur</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onNewContactSave()">Ajouter le contact</button>
      </div>
    </div>
  </div>
</form>

<!-- Modal Suppression Utilisateur -->
<div class="modal fade" id="deleteContactModal" tabindex="-1" role="dialog" aria-labelledby="deleteContactModalLabel" aria-hidden="true" *ngIf="user.isAdmin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Retirer le collaborateur {{contactModel.name}} {{contactModel.surname}} ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Le retrait d'un collaborateur supprimera définitivement le contact de l'annuaire ainsi que son compte utilisateur associé.<br/>
            <b class="font-weight-bold">Cette action est irréversible.</b><br/><br/>
        </p>
        <div class="card mx-2 my-2 mx-auto" style="width: 18rem;">
          <div class="card-body px-2 py-2">
            <img #imageDel [src]="contactModel.photo" (error)="imageDel.hidden = true" [hidden]="imageDel.hidden" width="70px" height="70px" class="rounded-circle mr-3" style="float: left;" alt="{{contactModel.name}} {{contactModel.surname}}">
            <div *ngIf="imageDel.hidden" class="rounded-circle bg-secondary text-center mr-3 h3" style="float: left; width: 66px; height: 66px; padding-top: 0.65em;">{{(contactModel.name | slice:0:1) | uppercase}}{{(contactModel.surname | slice:0:1) | uppercase}}</div>
            <h5 class="card-title">{{ (contactModel.name.length+contactModel.surname.length>16)? ((contactModel.name | titlecase) +' '+ (contactModel.surname | uppercase) | slice:0:16)+'...':(contactModel.name | titlecase) + ' ' + (contactModel.surname | uppercase) }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ (contactModel.job.length>24)? (contactModel.job | slice:0:23)+'...':(contactModel.job) | titlecase }}</h6>
            <h6 class="card-subtitle mb-2 text-muted font-italic">{{ (contactModel.city.length>25)? (contactModel.city | slice:0:25)+'...':(contactModel.city) | titlecase }}</h6>
            <div class="d-flex justify-content-between">
              <div class="mt-1">
                <a href="mailto:{{contactModel.mail}}" class="ml-1">{{ ((contactModel.mail.length>27)? (contactModel.mail | slice:0:25)+'...':contactModel.mail) | lowercase }}</a>
              </div>
              <div>
                <button type="button" class="btn btn-outline-success btn-sm">
                  <svg class="feather feather-phone sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="916"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                  {{ contactModel.phone }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <p>
          <br/>Êtes-vous certains de continuer ?
        </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDeleteContactSave(contactModel)">Supprimer</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal Edition Utilisateur -->
<form class="modal fade" id="editContactModal" tabindex="-1" role="dialog" aria-labelledby="addContactModalLabel" aria-hidden="true" *ngIf="user.isAdmin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addContactModalLabel">Éditer un collaborateur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="surname" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
              <input #surname="ngModel" class="form-control" id="surname" name="surname" [(ngModel)]="contactModel.surname" oninput="this.value = this.value.toUpperCase()" required>
              <div *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                <small class="text-danger" *ngIf="surname.errors.required">
                  Champ requis.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
              <input id="name" name="name" class="form-control" #name="ngModel" [(ngModel)]="contactModel.name" required>
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <small class="text-danger" *ngIf="name.errors.required">
                  Champ requis.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="job" class="col-sm-2 col-form-label">Fonction</label>
            <div class="col-sm-10">
              <input #job="ngModel" class="form-control" id="job" name="job" [(ngModel)]="contactModel.job" required>
              <div *ngIf="job.invalid && (job.dirty || job.touched)">
                <small class="text-danger" *ngIf="job.errors.required">
                  Champ requis.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label">Site</label>
            <div class="col-sm-10">
              <input #city="ngModel" class="form-control" id="city" name="city" [(ngModel)]="contactModel.city" required>
              <div *ngIf="city.invalid && (city.dirty || city.touched)">
                <small class="text-danger" *ngIf="city.errors.required">
                  Champ requis.
                </small>
              </div>
            </div>
          </div>

          <div class="form-group row" style="margin-left: 5.5em; width: 200px">
            <div class="input-group-append">
              <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 25.6em">
                <svg class="feather feather-users sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                Groupes
              </button>
              <div class="dropdown-menu" onclick="event.stopPropagation();" style="width: 25.6em">
                <div class="custom-control custom-checkbox ml-2" *ngFor="let group of contactModel.groups;">
                  <input type="checkbox" class="custom-control-input" id="{{ group.guid }}" [(ngModel)]="group.isMember" [ngModelOptions]="{standalone: true}">
                  <label class="custom-control-label" for="{{ group.guid }}">{{ group.gname }}</label>
                </div>
              </div>
            </div>
          </div>

          <hr/>

          <div class="row" style="margin-left: 5em;">
              <input [(ngModel)]="contactModel.isAdmin" name="isAdmin" type="checkbox" style="margin-top: 0.2em;" class="mx-2">
              <label>Utilisateur Administrateur</label>
          </div>

          <hr/>

          <div class="row" style="margin-left: 5em;">
              <input type="checkbox" [(ngModel)]="resetPhoto" name="resetPhoto" style="margin-top: 0.2em;" class="mx-2">
              <label>Retirer la photo public</label>
          </div>
          <div class="row" style="margin-left: 5em;">
              <input [(ngModel)]="resetPassword" name="resetPassword" type="checkbox" style="margin-top: 0.2em;" class="mx-2">
              <label>Réinitialiser le mot de passe</label>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="onEditContactSave()">Modifier le contact</button>
      </div>
    </div>
  </div>
</form>

<!-- Modal Détails Utilisateur -->
<div class="modal fade" id="detailsContactModal" tabindex="-1" role="dialog" aria-labelledby="addContactModalLabel" aria-hidden="true" *ngIf="user.isAdmin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addContactModalLabel">{{ contactModel.surname }} {{ contactModel.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-sm">
            <tbody>
              <tr>
                <th scope="row">Nom</th>
                <td>{{ contactModel.surname }}</td>
              </tr>
              <tr>
                <th scope="row">Prénom</th>
                <td>{{ contactModel.name }}</td>
              </tr>
              <tr>
                <th scope="row">Courriel</th>
                <td colspan="2">{{ contactModel.mail }}</td>
              </tr>
              <tr>
                <th scope="row">Téléphone</th>
                <td>{{ contactModel.phone }}</td>
              </tr>
              <tr>
                <th scope="row">Mobile</th>
                <td>{{ contactModel.mobile }}</td>
              </tr>
              <tr>
                <th scope="row">Fonction</th>
                <td colspan="2">{{ contactModel.job }}</td>
              </tr>
              <tr>
                <th scope="row">Site</th>
                <td colspan="2">{{ contactModel.city }}</td>
              </tr>
              <tr>
                <th scope="row">Administrateur</th>
                <td colspan="2">{{ (contactModel.isAdmin?'Oui':'Non') }}</td>
              </tr>
              <tr>
                <th scope="row">id</th>
                <td colspan="2">{{ contactModel.id }}</td>
              </tr>
              <tr>
                <th scope="row">uid</th>
                <td colspan="2">{{ contactModel.uid }}</td>
              </tr>
              <tr *ngFor="let group of contactModel.groups;">
                <th scope="row" *ngIf="group.isMember">Membre de</th>
                <td colspan="2" *ngIf="group.isMember">{{ group.gname }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

<!-- Contact items list -->
<div class="row ml-0">

  <!-- Boucle sur les contacts -->
  <div class="card mr-3 my-2" style="width: 18rem;" *ngFor="let contact of (contacts | contactNameFilterPipe:[searchKey, searchOptions, user]);">
    <div class="card-body px-2 py-2">
      <img #image [src]="contact.photo" (error)="image.hidden = true" [hidden]="image.hidden" width="70px" height="70px" class="rounded-circle mr-3" style="float: left;" alt="{{contact.name}} {{contact.surname}}">
      <div *ngIf="image.hidden" class="rounded-circle bg-secondary text-center mr-3 h3" style="float: left; width: 66px; height: 66px; padding-top: 0.65em;">{{(contact.name | slice:0:1) | uppercase}}{{(contact.surname | slice:0:1) | uppercase}}</div>
      <h5 class="card-title">{{ (contact.name.length+contact.surname.length>16)? ((contact.name | titlecase) +' '+ (contact.surname | uppercase) | slice:0:16)+'...':(contact.name | titlecase) + ' ' + (contact.surname | uppercase) }}</h5>
      <div class="btn-group dropright position-absolute" style="top: 0.25rem; left: 16.25rem; cursor: pointer;" *ngIf="user.isAdmin">
        <a class="btn btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg class="feather feather-more-vertical sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="831"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
        </a>
        <div class="dropdown-menu">

            <button id="openDetailsModalButton" [hidden]="true" data-toggle="modal" data-target="#detailsContactModal">Open Modal</button>
            <a class="dropdown-item" (click)="onDetailsContactCalled(contact)">
                <svg class="feather feather-list sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
                Détails
            </a>

          <button id="openEditModalButton" [hidden]="true" data-toggle="modal" data-target="#editContactModal">Open Modal</button>
          <a class="dropdown-item" (click)="onEditContactCalled(contact)">
            <svg class="feather feather-edit sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="491"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
            Modifier
          </a>
          
          <button id="openDeleteModalButton" [hidden]="true" data-toggle="modal" data-target="#deleteContactModal">Open Modal</button>
          <a class="dropdown-item text-danger" (click)="onDeleteContactCalled(contact)">
            <svg class="feather feather-trash-2 sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
            Retirer
          </a>

        </div>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">{{ (contact.job.length>24)? (contact.job | slice:0:23)+'...':(contact.job) | titlecase }}</h6>
      <h6 class="card-subtitle mb-2 text-muted font-italic">{{ (contact.city.length>25)? (contact.city | slice:0:25)+'...':(contact.city) | titlecase }}</h6>
      <div class="d-flex justify-content-between">
        <div class="mt-1">
          <a href="mailto:{{contact.mail}}" class="ml-1">{{ ((contact.mail.length>27)? (contact.mail | slice:0:25)+'...':contact.mail) | lowercase }}</a>
        </div>
        <div>
          <button type="button" class="btn btn-outline-success btn-sm" (click)="clickToCall(contact)">
            <svg class="feather feather-phone sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="916"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
            {{ contact.phone }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
