<form *ngIf="groupsModel" [formGroup]="editForm" (ngSubmit)="onSubmit()" class="container pb-4">
    <h1 class="h2">Paramètres de votre profil</h1>
    <br/>
    <hr/>
    <div class="row">
      <div class="col">
        <h4 class="h5">Photo public</h4>
        <p>Vous pouvez changer votre photo ici ou supprimer la photo actuel.</p>
      </div>
      <div class="col-8">
        <div class="row">
            <div class="col-md-auto">
              <img #imagePublic [src]="user.photo" (error)="imagePublic.hidden = true" [hidden]="imagePublic.hidden" width="150px" height="150px" class="rounded-circle mr-3" alt="{{user.name}} {{user.surname}}" style="float: left;">
              <div *ngIf="imagePublic.hidden" class="rounded-circle bg-secondary text-center mr-3 h1" style="float: left; width: 150px; height: 150px; padding-top: 1.30em;">{{(user.name | slice:0:1 | uppercase)}}{{(user.surname | slice:0:1 | uppercase)}}</div>
            </div>
            <div class="col">
              <h5 class="h6">Importer une nouvelle photo</h5>
              <input
                style="display: none"
                type="file" (change)="onImageChanged(fileInput)" accept="image/x-png"
                #fileInput>
              <button type="button" (click)="fileInput.click()" class="btn btn-outline-primary btn-sm">Choisir un fichier...</button>
              <span class="ml-2">{{ imageLabel }}</span>
              <div class="form-text text-muted">La taille de fichier maximale autorisée est de 200 Ko.</div>
              <hr/>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="deletePhoto()">Supprimer la photo</button>
            </div>
        </div>
      </div>
    </div>
    <hr *ngIf="user.isAdmin"/>
    <div class="row" *ngIf="user.isAdmin">
      <div class="col">
        <h4 class="h5">Paramètres principaux</h4>
        <p>Les informations qui apparaissent sur votre profil.</p>
      </div>
      <div class="col-8 ml-2">
        <div class="row">
          <div class="w-100">
            <div class="form-group w-50">
              <label for="surname">Nom</label>
              <input type="text" class="form-control" id="surname" formControlName="surname" value="{{user.surname}}" oninput="this.value = this.value.toUpperCase()" required>
              <div *ngIf="editForm.controls['surname'].errors && !editForm.controls['surname'].pristine">
                <small class="text-danger">
                  Champ requis.
                </small>
              </div>
            </div>
            <div class="form-group w-50">
              <label for="name">Prénom</label>
              <input type="text" class="form-control" id="name" formControlName="name" value="{{user.name}}" required>
              <div *ngIf="editForm.controls['name'].errors && !editForm.controls['name'].pristine">
                <small class="text-danger">
                  Champ requis.
                </small>
              </div>
            </div>
            <div class="form-group w-50">
              <label for="job">Fonction</label>
              <input type="text" class="form-control" id="job" formControlName="job" value="{{user.job}}" required>
              <div *ngIf="editForm.controls['job'].errors && !editForm.controls['job'].pristine">
                <small class="text-danger">
                  Champ requis.
                </small>
              </div>
            </div>
            <div class="form-group w-50">
              <label for="city">Site</label>
              <input type="text" class="form-control" id="city" formControlName="city" value="{{user.city}}" required>
              <div *ngIf="editForm.controls['city'].errors && !editForm.controls['city'].pristine">
                <small class="text-danger">
                  Champ requis.
                </small>
              </div>
            </div>

            <div class="form-group w-50 pt-3">
              <div class="input-group-append">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 25.6em">
                  <svg class="feather feather-users sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                  Groupes
                </button>
                <div class="dropdown-menu" onclick="event.stopPropagation();" style="width: 25.6em">
                  <div formArrayName="groups" class="custom-control custom-checkbox ml-2" *ngFor="let group of editForm.controls.groups.controls; let i = index">
                    <input type="checkbox" class="custom-control-input" [formControlName]="i" id="{{ i }}">
                    <label class="custom-control-label" for="{{ i }}">{{ groupsModel[i].gname }}</label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col">
        <h4 class="h5">Mot de passe</h4>
        <p>Après avoir changé votre mot de passe, vous serez automatiquement redirigé vers la page d'authentification pour vous connecter avec votre nouveau mot de passe.</p>
      </div>
      <div class="col-8 ml-2">
        <div class="row">
          <div class="w-100">
            <div class="form-group w-50">
              <label for="currentPassword">Mot de passe actuel</label>
              <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword" required>
              <small class="form-text text-muted">Vous devez saisir votre mot de passe actuel avant de le changer.</small>
              <div *ngIf="editForm.controls['newPassword'].value != '' && editForm.controls['currentPassword'].value == ''">
                <small class="text-danger">
                  Merci de saisir votre ancien mot de passe.
                </small>
              </div>
            </div>
            <div class="form-group w-50">
              <label for="newPassword">Nouveau mot de passe</label>
              <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required>
              <div *ngIf="editForm.controls['newPassword'].errors && !editForm.controls['newPassword'].pristine">
                <small class="text-danger">
                  Mot de passe trop faible. (6 caractères min.)
                </small>
              </div>
            </div>
            <div class="form-group w-50">
              <label for="confirmNewPassword">Confirmer le mot de passe</label>
              <input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword" required>
              <div *ngIf="editForm.controls['newPassword'].value != editForm.controls['confirmNewPassword'].value && !editForm.controls['confirmNewPassword'].pristine">
                <small class="text-danger">
                  Les mot de passes ne correspondent pas.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <div class="row">
          <button type="button" class="btn btn-outline-primary mr-3">Annuler</button>
          <button type="submit" class="btn btn-outline-success">Appliquer les changement</button>
        </div>
      </div>
    </div>
  </form>